RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# redireciona quando houver erro 403
ErrorDocument 403 http://localhost/estrutura_adm_mvc/

# bloqueia arquivos do diretorio
Options -Indexes